@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap'); </style>
body {
    margin: 0;
  }

* {
    box-sizing: border-box;
  }

p {
    font-family: 'Roboto', sans-serif;
}
h1, h3
{
    text-align:center;
}


h3
{
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    margin-top:0px;
}

.news
{
    width:70%;
    margin:auto;
    border: solid 1px grey;
    margin-top: 20px;
}

.news h3 {
    background-color:#ede2e2;
}


a
{
    text-decoration: none;
}



/* homepage */
.homepage-info
{
    height: 100vh;
    display: block;
}

.homepage-info h1
{
    font-size: 120px;
    color: pink;
    font-family: 'Roboto', sans-serif;
}

.homepage-info h3 span
{
    font-weight: bold;
}

.form-group input:focus:invalid,
.form-group .invalid-form {
    border: red 2px solid;
}

.error {
    color: red;
    font-size: x-small;
}


